!!! 5
%html
    %head
        %script{'type': 'text/css', 'charset': 'utf-8',
                'href': '/static/style.css'}
    %body
        %h1
            = title
        %h2 Data
        - for entry in data
            = entry
        %form{action:'new', method:'post', value:'Test', checked: None}
            %formset
                %legend Test Post New
                %label Url
                    %input{name:'url'}
                %label Request Data
                    %input{name:'request'}
                %label Reponse Data
                    %input{name:'response'}
                %button Submit